h3 {
    font-size: 25px;
    font-weight: 400;

}

ul {
    list-style-type: none;
}

.proyectos {
   
}

div.nav {
    color: brown;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-basis: 50%;
}
.menu{
    
}


a.link {
    text-decoration: none;
    color: white;
}

div.footer {
    background-color: black;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

iframe {
    width: 100%;
    height: 30vh;
    min-height: 250px;
    max-height: 500px;
}